{% extends 'base/base2.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/bootstrap.lumen.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block navbar%}

{% endblock %}

{% block content %}

<section class="landing-section landing-main">

    <h1 style="text-align:center">Recuperar contraseña</h1>
    
    <div class="landing-section-content">
        <form method="post">
	{% csrf_token %}
	<label for="id_email">Correo:</label> {{ form.email }} 
	<input type="submit" value="Enviar"/>
</form>
    </div>
</section>
{% endblock %}
