{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
  {% block extrastatic %}
  {% endblock %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.lumen.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <link rel='stylesheet'
  href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
  crossorigin='anonymous'>
  <title>
    {% block title %}
    RACII 2
    {% endblock %}
  </title>
</head>

<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">RACII</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fas fa-laptop"></span>  Laptops<span class="caret "></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/laptop/listar/">Listar laptops</a></li>
              <li><a href="/laptop/crear/">Agregar laptops</a></li>
              <li class="divider"></li>
              <li><a href="/laptop/listar_incidente/">Listar incidentes</a></li>
              <li><a href="/laptop/crear_incidente/">Agregar incidentes</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fas fa-users"></span>  Personas<span class="caret "></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/escuela/listar_persona/">Listar personas</a></li>
              <li><a href="/escuela/crear_persona/">Agregar personas</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class=" fas fa-school"></span>	Escuelas<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">

              <li><a href="/escuela/listar_escuela/">Listar Escuelas</a></li>
              <li><a href="/escuela/crear_escuela/">Agregar Escuelas</a></li>
              <li class="divider"></li>
              <li><a href="/escuela/listar_visitaa/">Listar Visita A</a></li>
              <li><a href="/escuela/listar_visitab/">Listar Visita B</a></li>
              <li><a href="/escuela/crear_visita/">Agregar Visita</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fas fa-briefcase"></span>	Donantes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/escuela/listar_donante/">Listar Donantes</a></li>
              <li><a href="/escuela/crear_donante/">Agregar Donantes</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/"><span class="fas fa-wrench"></span> Administrar</a></li>
          <li><a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> Salir</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div>

<div class="container">
  {% block content %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}

  {% block footer %}
  {% endblock %}
</body>
</html>
