{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <script src="{% static 'jquery-3.3.1.min.js' %}" type="text/javascript"></script>

  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>

  {% block extrastatic %}
  {% endblock %}

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
-->

<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->
<title>
  {% block title %}
  RACII
  {% endblock %}
</title>
</head>

{% block navbar %}
<body>
  <div class="container">
    <nav class="navbar navbar-fixed-top>
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'laptop:listar_laptop' %}">RACII</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Laptops<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/laptop/listar/">Listar laptops</a></li>
              <li><a href="/laptop/crear/">Agregar laptops</a></li>
              <li class="divider"></li>
              <li><a href="/laptop/listar_incidente/">Listar incidentes</a></li>
              <li><a href="/laptop/crear_incidente/">Agregar incidentes</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Escuelas<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/escuela/listar_persona/">Listar personas</a></li>
              <li><a href="/escuela/crear_persona/">Agregar personas</a></li>
              <li class="divider"></li>
              <li><a href="/escuela/listar_escuela/">Listar Escuelas</a></li>
              <li><a href="/escuela/crear_escuela/">Agregar Escuelas</a></li>
              <li class="divider"></li>
              <li><a href="/escuela/listar_visitaa/">Listar Visita A</a></li>
              <li><a href="/escuela/listar_visitab/">Listar Visita B</a></li>
              <li><a href="/escuela/crear_visita/">Agregar Visita</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Donantes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/escuela/listar_donante/">Listar Donantes</a></li>
              <li><a href="/escuela/crear_donante/">Agregar Donantes</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/admin/"><span class="glyphicon glyphicon-user"></span> Administrar</a></li>
          <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    {% endblock %}

    {% block content %}
    {% endblock %}

  <script src="{% static 'jquery-3.3.1.min.js' %}" type="text/javascript"></script>

  {% block extrahead %}
  {% endblock %}

  {% block scripts %}
  {% endblock %}

  {% block footer %}
  {% endblock %}
</body>
</html>
