{% extends 'base/base2.html' %}

{% block content %}
<div class="starter-template">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        <canvas id="myChart" width="350" height="350">
            <script>
                $(document).ready(function(){
                {% block jquery %}{% endblock %}
                })
            </script>
        </canvas>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

</main><!-- /.container -->
{% endblock content %}