{% extends 'base/base.html' %}

{% block content %}
<canvas id="bar-chart-grouped" width="800" height="350"></canvas>
{% endblock %}

{% block scripts %}

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js">
</script>

<script type="text/javascript">
$( document ).ready(function() {

new Chart(document.getElementById("bar-chart-grouped"), {
    type: 'bar',
    data: {
      labels: ["1900", "1950", "1999", "2050"],
      datasets: [
        {
          label: "Africa",
          backgroundColor: "#3e95cd",
          data: [133,221,783,2478]
        }, {
          label: "Europe",
          backgroundColor: "#8e5ea2",
          data: [408,547,675,734]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Population growth (millions)'
      }
    }
});
// Fin new Chart
});

</script>
{% endblock %}
