{% extends 'base/base2.html' %}

{% block content %}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<form class="form-inline">
	<div class="form-group">
			<a href="{% url 'escuela:crear_escuela' %}" class="btn btn-primary btn-xs" role="button">Agregar</a>
			<input class="form-control input-sm" id="myInput" type="text" placeholder="Filtrar..">
	</div>
</form>

{% if object_list %}
<table class="table table-bordered table-hover">
	<thead>
		<tr class="info">
		  <th style="text-align:center">#</th>
			<th style="text-align:center">Nombre</th>
			<th style="text-align:center">Departamento</th>
			<th style="text-align:center">Municipio</th>
			<th style="text-align:center">Direccion</th>
			<th style="text-align:center">Telefono</th>
			<th style="text-align:center">Acciones</th>
		</tr>
	</thead>
	<tbody id="myTable">
		<ol>
			{% for escuela in object_list %}
			<tr>
				<td style="text-align:center">{{ forloop.counter }}</td>
				<td style="text-align:center">{{ escuela.nombre }}</td>
				<td style="text-align:center">{{ escuela.departamento }}</td>
				<td style="text-align:center">{{ escuela.municipio }}</td>
				<td style="text-align:center">{{ escuela.direccion }}</td>
				<td style="text-align:center">{{ escuela.telefono }}</td>
				<td align="center">
					<a class="btn btn-primary btn-xs" href="/admin/escuela">Editar</a>
				</td>
			</tr>
		{% endfor %}
		</ol>

		{% else %}
			<h1>No hay registros de personas</h1>
		{% endif %}
	</tbody>
</table>

{% if is_paginated %}
  <ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
