{% extends 'base/base.html' %}

{% block content %}

<table class="table table-striped table-hover">
	<thead>
		<tr>
		    <th>#</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Telefono</th>
			
			<th>XO Asignada</th>
			<th>Escuela</th>
			<th>Grado</th>
			
		</tr>

	</thead>
	<tbody>
		{% if object_list %}
		{% for persona in object_list %}
		<tr>
		    <td>{{ persona.id }}</td>
			<td>{{ persona.nombre }}</td>
			<td>{{ persona.apellido }}</td>
			<td>{{ persona.telefono }}</td>
			<td>{{ persona.laptop }}</td>
			<td>{{ persona.escuela }}</td>
			<td>{{ persona.grado }}</td>
			
			<td>
				<a class="btn btn-primary btn-xs" href="#">Editar</a>
				<a class="btn btn-danger btn-xs" href="#">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
			<h1>No hay registros de personas</h1>
		{% endif %}
	</tbody>
</table>

{% endblock %}