{% extends 'base/base2.html' %}

{% block content %}

<form class="form-inline">
	<div class="form-group">
		<a class="btn btn-success btn-xs" href="{% url 'laptop:crear_incidente' %}">Agregar</a>
	</div>
</form>

{% if object_list %}
<div class="table-responsive">
<table class="table table-bordered table-hover">
	<thead>
		<tr class="active">
			<th style="text-align:center; vertical-align:middle">#</th>
			<th style="text-align:center; vertical-align:middle">ID</th>
			<th style="text-align:center; vertical-align:middle">Estado</th>
			<th style="text-align:center; vertical-align:middle">Descripcion</th>			
			<th style="text-align:center; vertical-align:middle">Fecha reporte</th>
			<th style="text-align:center; vertical-align:middle">Laptop</th>
			<th style="text-align:center; vertical-align:middle">Estudiante</th>
			<th style="text-align:center; vertical-align:middle">Escuela</th>
			<th style="text-align:center; vertical-align:middle">Grado</th>
			<th style="text-align:center; vertical-align:middle">Detalle</th>
			<th style="text-align:center; vertical-align:middle">Tipo</th>
			<th style="text-align:center; vertical-align:middle">Prioridad</th>
			<th style="text-align:center; vertical-align:middle">Componentes</th>
			<th style="text-align:center; vertical-align:middle">Acciones</th>
		</tr>
	</thead>
	<ol>
		{% for incidente in object_list %}
		{% if incidente.estado is True %}
			<tr class="success">
				<td style="text-align:center">{{ forloop.counter }}</td>
				<td style="text-align:center">{{ incidente.id }}</td>
				<td style="text-align:center">{{ incidente.estado_incidente_detalle }}</td>
				<td style="text-align:center">{{ incidente.descripcion}}</td>
				<td style="text-align:center">{{ incidente.created_at|date:"d M Y" }}</td>
				<td style="text-align:center">{{ incidente.laptop }}</td>
				<td style="text-align:center">{{ incidente.laptop.persona.nombre }}</td>
				<td style="text-align:center">{{ incidente.laptop.persona.escuela }}</td>
				<td style="text-align:center">{{ incidente.laptop.persona.grado }}</td>
				<td style="text-align:center">{{ incidente.detalle }}</td>
				<td style="text-align:center">{{ incidente.tipo_incidente_detalle }}</td>
				<td style="text-align:center">{{ incidente.prioridad_incidente_detalle }}</td>
				<td style="text-align:center">
					{% for componente in incidente.componente.all %}
					<span class="label label-primary">
						{{componente.nombre}}
					</span>
					{% endfor %}
				</td>
				<td align="center">
					<a class="far fa-edit" data-toggle="tooltip" title="Editar" href="{% url 'laptop:editar_incidente' incidente.id %}"></a>
					<a class="far fa-trash-alt" data-toggle="tooltip" title="Eliminar" href="{% url 'laptop:borrar_incidente' incidente.id %}"}></i>
				</td>
			</tr>
		{% else %}
			<tr class="warning">
				<td style="text-align:center">{{ forloop.counter }}</td>
				<td style="text-align:center">{{ incidente.id }}</td>
				<td style="text-align:center">{{ incidente.estado_incidente_detalle }}</td>
				<td style="text-align:center">{{ incidente.descripcion}}</td>
				<td style="text-align:center">{{ incidente.created_at|date:"d M Y" }}</td>
				<td style="text-align:center">{{ incidente.laptop }}</td>
				<td style="text-align:center">{{ incidente.laptop.persona.nombre }}</td>
				<td style="text-align:center">{{ incidente.laptop.persona.escuela }}</td>
				<td style="text-align:center">{{ incidente.laptop.persona.grado }}</td>
				<td style="text-align:center">{{ incidente.detalle }}</td>
				<td style="text-align:center">{{ incidente.tipo_incidente_detalle }}</td>
				<td style="text-align:center">{{ incidente.prioridad_incidente_detalle }}</td>
				<td style="text-align:center">
					{% for componente in incidente.componente.all %}
					<span class="label label-primary">
						{{componente.nombre}}
					</span>
					{% endfor %}
				</td>
				<td align="center">
					<a class="far fa-edit" data-toggle="tooltip" title="Editar" href="{% url 'laptop:editar_incidente' incidente.id %}"></a>
					<a class="far fa-trash-alt" data-toggle="tooltip" title="Eliminar" href="{% url 'laptop:borrar_incidente' incidente.id %}"}></i>
				</td>
			</tr>
		{% endif %}		
		{% endfor %}
	</ol>
	{% else %}
		<h1>No hay registros de incidentes</h1>
	{% endif %}
</table>
</div>

{% if is_paginated %}
  <ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
