{% extends 'base/base2.html' %}

{% block content %}
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<form class="form-inline">
	<div class="form-group">
			<a href="{% url 'laptop:crear_laptop' %}" class="btn btn-primary btn-xs" role="button">Agregar</a>
			<a href="/admin/laptop/laptop/import/" class="btn btn-success btn-xs" role="button"> Importar masivamente</a>
			<input class="form-control input-sm" id="myInput" type="text" placeholder="Filtrar..">
	</div>
</form>

{% if object_list %}
<table class="table table-bordered table-hover">
	<thead>
		<tr class="info">
		  <th style="text-align:center">#</th>
			<th style="text-align:center">Serie</th>
			<th style="text-align:center">Persona</th>
			<th style="text-align:center">Escuela</th>
			<th style="text-align:center">Grado</th>
			<th style="text-align:center">Modelo</th>
			<th style="text-align:center">UUID</th>
			<th style="text-align:center">Acciones</th>
		</tr>
	</thead>

    <tbody id="myTable">
      <ol>
		{% for laptop in object_list %}
    <tr>
		  <td style="text-align:center">{{ forloop.counter }}</td>
			<td style="text-align:center">{{ laptop.serie|upper}}</td>
			<td style="text-align:center">{{ laptop.persona.nombre}} {{ laptop.persona.apellido}}</td>
			<td style="text-align:center">{{ laptop.persona.escuela|default_if_none:'Ninguno'}}</td>
			<td style="text-align:center">{{ laptop.persona.grado|default_if_none:'Ninguno'}}</td>
			<td style="text-align:center">{{ laptop.modelo_detalle }}</td>
			<td style="text-align:center">{{ laptop.uuid|upper}}</td>
			<td align="center">
				<a class="btn btn-primary btn-xs" href="{% url 'laptop:editar_laptop' laptop.id %}">Editar</a>
				<a class="btn btn-danger btn-xs" href="{% url 'laptop:borrar_laptop' laptop.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
    </ol>

		{% else %}
			<h1>No hay registros de laptops</h1>
		{% endif %}
	</tbody>
</table>

{% if is_paginated %}
  <ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
