{% extends 'base/base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}


{% block title %}
RACII
{% endblock %}

{% block navbar%}

{% endblock %}

{% block content %}
<section class="landing-section landing-main">
    <div class="landing-section-content">
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-lg-offset-4 col-sm-offset-4">
                        <div class="form-group text-center">
                            <label for="username">Nombre de usuario:</label>
                            <input class="form-control text-center" type="text" placeholder="Ingrese su usuario" name="username">

                            <label for="username">Contraseña:</label>
                            <input class="form-control text-center" type="password" placeholder="Ingrese su contraseña" name="password">
                        </div><!-- form-group text-center -->
                    </div><!-- /.col-lg-4 -->   
                </div><!-- /.row -->

                <div class="form-group">
                    <input class="btn btn-primary center-block" type="submit" value="Ingresar">
                </div>
                
                <div class="row text-center">
                        <a href="#">Olvidé mi contraseña</a>
                </div>
            </div><!-- container -->
        </form>
    </div>
</section>
{% endblock %}

{% block footer %}
{% endblock %}